@charset "UTF-8";
/* CSS Document */

/* Table of Contents

--------------------------------1 Body
--------------------------------2 Typography
--------------------------------------2.1 Headings
--------------------------------------2.2 Body Copy
--------------------------------------2.3 Buttons
--------------------------------------2.4 Forms
--------------------------------------2.5 Lists
--------------------------------------2.6 Tables
--------------------------------3 Navigation Menues
--------------------------------------3.1 Main
--------------------------------------3.2 Sub
--------------------------------4 Structure
--------------------------------------4.1 Site Content
--------------------------------------4.2 Site Header
--------------------------------------4.3 Site Footer
--------------------------------5 Media
--------------------------------------5.1 Sprites
--------------------------------------5.2 Background Images
--------------------------------6 Other
--------------------------------------6.1 Colors
--------------------------------------6.2 Media Queries

*/




/* Table of Contents

--------------------------------1 Body
*/

.wrapper {
	margin: 0 auto;
}

body {
	margin: 0 7rem;
}

/*
--------------------------------2 Typography
*/



/*
--------------------------------------2.1 Headings
*/

h1 {
	margin-top: 20rem;
}

/*
--------------------------------------2.2 Body Copy
*/



/*
--------------------------------------2.3 Buttons
*/



/*
--------------------------------------2.4 Forms
*/



/*
--------------------------------------2.5 Lists
*/

ul {
	list-style: none;
}

/*
--------------------------------------2.6 Tables
*/



/*
--------------------------------3 Navigation Menues
*/

a { 
	color: #fff; 
	text-decoration: none; 
	transition: .15s; 
}

a:active { 
	color: #000; 
}

button { 
	color: #fff; 
	font-size: 1em; 
	font-weight: bold; 
	position: absolute; 
	left: 0; 
	width: 50%; 
	padding: .75em 1em; 
	margin: 0; 
	margin-left: -10%;
	margin-right: -10%;
	-webkit-appearance: none; 
	-moz-appearance: none; 
	border: none; 
	transition: .15s; 
}

button.second-toggle { 
	left: 50%; 
	right: 0;
}

button:focus { 
	outline: none; 
}

button.close { 
	width: 100%; 
	text-align: right; }

.menu-container { 
	margin-left: -6%; 
	margin-right: -6%; 
}
.menu-container.open { 
	display: block; 
	height: 100%!important;
	background-color: #666; 
	transition: .2s; 
}

.main-nav-list { 
	list-style: none; 
	list-style-image: none; 
	padding-left: 0;
	margin: 0;
	}
	
.main-nav-item { 
	margin: 0; 
}

.main-nav-link {
	display: block; 
	padding: 1em; 
	background: #999; 
}

.pane { 
	position: relative; 
}

.js .js-hide, .close, .js-toggle { 
	display: none; 
}

.js .close { 
	display: block; 
	position: static; 
}

.js .menu-content { 
	position: absolute; 
	left: 0; 
	right: 0;
}

.js .js-toggle { 
	background-color: #666; 
	margin: 0; 
	display: block; 
}

.js-toggle.active { 
	background-color: #555; 
}

@media screen and (min-width: 850px) {
	

	.menu-container, .menu-container.open { 
		height: 100%; 
		display: block!important;
	}
	
	.menu-content { 
		position: static!important; 
	}

	.pane { 
		float: right;
	}
	
	.pane:last-child { 
		float: left; 
	}
	
	.main-nav-item { 
		display: inline-block; 
		margin: 0 .4em; 
	}
	
	.main-nav-link { 
		background: #666; 
		padding: .5em .75em; 
	}
	
	.social-link { 
		background: #555; 
	}
	
	.js .js-hide { 
		display: block; 
	}
	
	.js .close, .js .js-toggle { 
		display: none; 
	}
	
}



/*
--------------------------------------3.1 Main
*/
.nav-button-large a {
	color: #fff;
	background-color: #666;
	padding: 1rem;
	display: block;
}

.nav-button-large a:hover {
	color: #666;
	background-color: #fff;
}

/*
--------------------------------------3.2 Sub
*/

.contact li {
	margin-top: 10px;
	padding: 2px;
}

/*
--------------------------------4 Structure
*/

#portfolio {
		margin-top: 20rem;
}

/*
--------------------------------------4.1 Site Content
*/



/*
--------------------------------------4.2 Site Header
*/



/*
--------------------------------------4.3 Site Footer
*/



/*
--------------------------------5 Media
*/


/*
--------------------------------------5.1 Sprites
*/



/*
--------------------------------------5.2 Background Images
*/

.work img, .featured-image img, .featured-image p {
	margin: 1rem 0;
}

img {
	height: 100%;
	width: 100%;
}

.work img:hover {
	opacity: .7;
}

.show-for-medium-only .social-link {
	width: 50%;
	padding: 0;
	margin: 0;
	background-color: transparent;
}

/*
--------------------------------6 Other
*/



/*
--------------------------------------6.1 Colors
*/

/*
--------------------------------------6.2 Media Queries
*/
@media screen and (max-width:1024px) {
	.identity-element img {
		margin-left: -25%;
		margin-top: -2%;
	}
}

@media screen and (max-width:960px) {
	.main-nav-item a {
		font-size: .6rem;
		margin: 0;
	}
}

@media screen and (max-width:640px) {
	.main-nav-item a {
		font-size: 1.2rem;
	}
	.identity-element img {
		margin: 0;
	}
	
	body {
		margin: 0;
	}
		
}